@media only screen and(max-width: 1024px) {
  .nav {
    display: block;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .about-target {
    width: 100%;
  }
  .about-infomation {
    width: 100%;
  }
}
