@media screen and (max-width: 576px) {
  .nav {
    flex-direction: column;
  }
  .nav div {
    width: 100%;
  }
  .nav-right {
    text-align: left;
  }
  .nav-left {
    text-align: left;
  }
  .nav-avatar {
    display: none;
  }
  .about {
    flex-direction: column;
  }
  .project-container {
    flex-direction: column;
  }
  .project-cv {
    margin-bottom: 20px;
  }
}
