* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "inter", sans-serif;
  width: 100%;
  color: #202020;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.5;
}
header {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 100px;
}

ul {
  list-style: none;
}
.banner {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  position: relative;
}
/* .banner-img {
  background-image: url(/images/banner.jpg);
  background-size: cover;
} */
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* navbar */
.nav {
  width: 100%;
  display: flex;
  align-content: center;
  position: relative;
}
.nav div {
  width: 25%;
  line-height: 1.25rem;
  border: 1px solid rgb(236, 236, 236);
  padding: 10px;
  text-transform: uppercase;
}
.nav-right {
  text-align: end;
}
.nav-left {
  text-align: start;
}
.nav-avatar {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -75%);
}

/* info */
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.about p {
  text-align: justify;
}
.about h2 {
  font-size: 20px;
  padding-bottom: 20px;
}
.about li {
  margin-left: -30px;
}
.about i {
  color: rgb(0, 102, 255);
}
#about-target {
  flex: 50%;
  padding: 40px;
  background-color: #f0f0f0;
}
.about-info {
  list-style: none;
}
#about-info {
  flex: 50%;
  padding: 40px;
  background-color: #e4e4e4;
}
#about-info .about-info {
  display: none;
}
#email-error {
  color: red;
  font-weight: 400;
}
/* display view more */
.view-more,
.less-more {
  display: none;
}
/* job */
.job {
  margin: auto;
  padding: 30px 50px;
  justify-content: center;
  gap: 30px 30px;
}
.job-content {
  padding-left: 10px;
}
#exp .job-content,
#education .job-content,
#work .job-content,
#interest .job-content,
#language .job-content,
#skill .job-content {
  display: none;
}
.job-grid {
  display: grid;
  grid-template-columns: 75% 25%;
  padding-bottom: 20px;
}
.job h2 {
  font-size: 20px;
}

.job h3 {
  font-size: 15px;
}
.job p {
  margin-left: 15px;
  font-style: italic;
}
.job-exp span {
  background-color: #00a2ff;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}
.job-exp {
  border: 1px solid #e4e4e4;
  padding: 20px;
  text-align: justify;
}
.job li {
  margin-left: -30px;
}
.job-ul {
  list-style: disc;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
li::marker {
  color: blue;
  border: 1px solid white;
  font-size: 20px;
}
.job-point-ladder-1 {
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 5px;
  width: 45px;
}
.job-point-ladder-2 {
  background: #8d9aa0;
  display: inline-block;
  height: 2px;
  margin-right: 5px;
  width: 45px;
}
.job-education {
  border: 1px solid #e4e4e4;
  padding: 20px;
  text-align: justify;
}
.job-work {
  border: 1px solid #e4e4e4;
  padding: 20px;
  text-align: justify;
}
.job-interest {
  border: 1px solid #e4e4e4;
  padding: 20px;
  text-align: justify;
}
.job-interest-flex {
  display: flex;
  flex-direction: row;
}
.job-interest-flex-1 {
  width: calc(25%-20px);
  margin-left: 20px;
}
.job-interest-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  line-height: 40px;
  text-align: center;
}
.job-interest p {
  font-style: normal;
  padding-left: 10px;
}

.job-language {
  border: 1px solid #e4e4e4;
  padding: 20px;
  text-align: justify;
}
.job-skill {
  border: 1px solid #e4e4e4;
  padding: 20px;
  text-align: justify;
}
.control-view {
  border-radius: 15px;
}

.button {
  background-color: rgb(255, 220, 144);
  width: 130px;
  height: 40px;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  font-weight: 400;
}
/* project */
.text-title {
  font-weight: 600;
  padding-bottom: 20px;
}
.achievement {
  font-size: 12px;
  width: 100%;
  background-color: #e0e0e0;
  padding: 20px;
}
.achievement-container {
  width: 100%;
  margin: auto;
}
.achievement-flex {
  display: flex;
  gap: 0px;
  margin-bottom: 20px;
}
.achievement-tittle {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 5px;
}

.project {
  width: 100%;
  background-color: white;
  margin: auto;
  padding-top: 20px;
  font-size: 12px;
}

.project-container {
  display: flex;
  margin-left: -20px;
}
.project-cv {
  width: calc(33.33%-20px);
  margin-left: 20px;
  border: 1px solid #d1d1d1;
}
.project-image {
  width: 100%;
}
.project-tittle {
  padding: 20px;
  font-weight: 500;
  margin-bottom: -1px;
  border-bottom: 1px solid #d1d1d1;
  text-transform: uppercase;
  font-size: 16px;
}
.project-content {
}
.project-content-top {
  display: flex;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  gap: 25px;
  border-bottom: 1px solid #d1d1d1;
}
.project-2021 {
  width: 50px;
  height: 20px;
  background-color: #00aeff;
  color: white;
  text-align: center;
  line-height: 20px;
  border-radius: 12px;
}
.project-content td {
  padding-top: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 5px;
}
.project-content th {
  width: 80px;
  border-bottom: 1px solid #d1d1d1;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.footer {
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-style: normal;
  color: #8a8a8a;
  padding-top: 10px;
  margin-top: 20px;
  line-height: 30px;
}
.footer i {
  font-size: 30px;
  color: #00aeff;
}
.footer p {
  margin-left: -20px;
}
