* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "inter", sans-serif;
  color: #202020;
  margin: 0 auto;
  font-size: 8pt;
  line-height: 1.5;
}
.bg-grey {
  background: #f7f7f7;
}
header {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 100px;
}
section {
  width: 1350px;
  margin: auto;
}
.banner {
  width: 1350px;
  margin: auto;
  max-height: 400px;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}
.banner-relative {
  position: relative;
}
.banner-absolute {
  position: absolute;
  transform: rotate(50 50);
  text-align: center;
}
.banner-img {
  position: absolute;
  margin-top: 400px;
}
.banner h1 {
  font-size: 52px;
}
.nav-bar {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.nav-bar > div {
  padding: 10px 20px;
  border: 1px solid rgb(236, 236, 236);
  height: 40px;
  line-height: 20px;
  font-size: 12px;
}
.container {
  justify-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
}
ul {
  list-style: none;
}
.container-target {
  background-color: rgb(240, 240, 240);
  padding: 50px 50px;
}
.container-info {
  background-color: rgb(230, 230, 230);
  padding: 50px 50px;
}
h2 {
  font-size: 12pt;
}
.job-info {
  width: 1000px;
  margin: auto;
  padding: 30px 50px;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 30px 30px;
}
.job-info-item {
  padding: 20px 20px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(216, 215, 215);
}
.job-info-item-ic {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 75% 25%;
}
.job-info-item-ul {
  list-style: disc;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
li::marker {
  color: blue;
  border: 1px solid white;
  font-size: 15px;
}

.job-info-item-thangdiem1 {
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 5px;
  width: 45px;
}
.job-info-item-thangdiem2 {
  background: #8d9aa0;
  display: inline-block;
  height: 2px;
  margin-right: 5px;
  width: 45px;
}
.job-info-ic {
  color: #199cdb;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #199cdb;
  line-height: 35px;
  text-align: center;
}
.job-info-sothich {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
  text-align: center;
}
.job-info-sothich > div {
  text-align: center;
  margin: 0px;
  font-size: 12px;
}
.chungchi-giaithuong {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.chungchi-giaithuong-1 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 40% 60%;
}
table {
  margin-bottom: 10px;
  text-align: left;
  vertical-align: top;
  border-collapse: collapse;
}
th {
  border: 1px solid black;
}
.project {
  font-size: 12px;
  display: grid;
  margin-left: 100px;
  margin-top: 30px;
  grid-template-columns: 31% 31% 31%;
  gap: 30px 30px;
}
.project-flex {
  display: flex;
  justify-content: start;
}
.project-flex > div {
  text-align: center;
  margin: 5px;
}
.project-2021 {
  width: 40px;
  height: 20px;
  background-color: #00a2ff;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  color: white;
}

.footer {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
