@media screen and (max-width: 992px) {
  .nav {
    display: none !important;
  }
  .nav-avatar {
    display: none;
  }
  .nav div {
    display: none !important;
  }
  .about {
    flex-direction: column;
  }
}
