@media screen and (max-width: 992px) {
  .nav-avatar {
    display: none;
  }
  .nav {
    align-content: center;
  }
  .nav-right {
    text-align: center;
  }
  .nav-left {
    text-align: center;
  }
  .about {
    flex-direction: column;
  }
}
